.info2 {
    background-image: url('https://github.com/LauraBonillaa/proyecto-pi/blob/main/Mask%20group%20(1).png?raw=true');
    color: #ffff;
    padding: 1rem 2rem 2rem 2rem;
    background-repeat: no-repeat;
    margin-top: 2rem;
    gap:1rem
    
}